.App {
  text-align: center;
  background-color: #e4f358;
  height: 360vh;
  background: cover;
}
.avisoInicio{
  font-weight: bold;
  font-size:35px;
}
.cartImgPage{
  margin: 30px;
  padding: 30px;
}
.cartImgContent{
  box-shadow: 10px 5px 5px rgb(132, 138, 17);
}
div.card{
  box-shadow: 10px 5px 5px rgb(132, 138, 17);
}
